
#animalchanger.bear .shard-wrap:nth-child(1) .shard{
    -webkit-clip-path: polygon(28.35% 15.214%, 31.45% 10.2%, 31.7% 19.5%);
    background-color: #BAA284; }
#animalchanger.bear  .shard-wrap:nth-child(2) .shard{
    -webkit-clip-path: polygon(31.35% 10.214%, 34.25% 17.5%, 31.45% 19.357%);
    background-color: #9E856B; }
#animalchanger.bear  .shard-wrap:nth-child(3) .shard{
    -webkit-clip-path: polygon(31.35% 10.357%, 36.15% 3.357%, 38.95% 12.071%);
    background-color: #473C32; }
#animalchanger.bear  .shard-wrap:nth-child(4) .shard{
    -webkit-clip-path: polygon(31.35% 10.14%, 38.85% 11.929%, 34.05% 17.643%);
    background-color: #4D4135; }
#animalchanger.bear  .shard-wrap:nth-child(5) .shard{
    -webkit-clip-path: polygon(34.05% 17.5%, 38.75% 11.786%, 41.15% 17.643%);
    background-color: #302922; }
#animalchanger.bear  .shard-wrap:nth-child(6) .shard{
    -webkit-clip-path: polygon(36.05% 3.5%, 41.55% 2.357%, 38.85% 12.214%);
    background-color: #564533; }
#animalchanger.bear  .shard-wrap:nth-child(7) .shard{
    -webkit-clip-path: polygon(38.75% 12.071%, 41.25% 2.929%, 50.65% 13.5%);
    background-color: #403429; }
#animalchanger.bear .shard-wrap:nth-child(8) .shard{
    -webkit-clip-path: polygon(38.75% 11.9%, 49.9% 13.357%, 41.05% 17.643%);
    background-color: #342A1F; }
#animalchanger.bear .shard-wrap:nth-child(9) .shard{
    -webkit-clip-path: polygon(41.15% 2.929%, 51.55% 8.786%, 49.65% 13.5%);
    background-color: #4D4135; }
#animalchanger.bear .shard-wrap:nth-child(10) .shard{
    -webkit-clip-path: polygon(41.05% 17.357%, 49.65% 13.357%, 53.35% 42.357%);
    background-color: #2C2317; }
#animalchanger.bear .shard-wrap:nth-child(11) .shard{
    -webkit-clip-path: polygon(48.65% 18.5%, 50.25% 8.214%, 59.35% 18.214%);
    background-color: #473C32; }
#animalchanger.bear .shard-wrap:nth-child(12) .shard{
    -webkit-clip-path: polygon(41.1% 17.3%, 53.55% 42.214%, 45.05% 46.643%);
    background-color: #242017; }
#animalchanger.bear .shard-wrap:nth-child(13) .shard{
    -webkit-clip-path: polygon(41.85% 19.357%, 45.25% 21.357%, 45.75% 28.643%);
    background-color: #A37431; }
#animalchanger.bear .shard-wrap:nth-child(14) .shard{
    -webkit-clip-path: polygon(45.15% 21.214%, 48.75% 18.5%, 45.65% 28.5%);
    background-color: #CB9A57; }
#animalchanger.bear .shard-wrap:nth-child(15) .shard{
    -webkit-clip-path: polygon(48.5% 18.5%, 58.65% 18.03%, 61.45% 27.99%);
    background-color: #4C4237; }
#animalchanger.bear .shard-wrap:nth-child(16) .shard{
    -webkit-clip-path: polygon(58.05% 25.357%, 62.45% 48.4%, 52.35% 62.9%);
    background-color: #352D25; }
#animalchanger.bear .shard-wrap:nth-child(17) .shard{
    -webkit-clip-path: polygon(48.55% 18.5%, 61.05% 27.5%, 60.55% 42.357%);
    background-color: #554738; }
#animalchanger.bear .shard-wrap:nth-child(18) .shard{
    -webkit-clip-path: polygon(42.6% 27.929%, 44.4% 41.214%, 38.45% 45.214%);
    background-color: #262420; }
#animalchanger.bear .shard-wrap:nth-child(19) .shard{
    -webkit-clip-path: polygon(35.05% 44.5%, 40.4% 37.357%, 37.55% 53.214%);
    background-color: #403429; }
#animalchanger.bear .shard-wrap:nth-child(20) .shard{
    -webkit-clip-path: polygon(45.05% 46.357%, 56.05% 40.786%, 52.55% 62.786%);
    background-color: #292418; }
#animalchanger.bear .shard-wrap:nth-child(21) .shard{
    -webkit-clip-path: polygon(48.65% 18.643%, 60.25% 41.786%, 53.15% 41.929%);
    background-color: #483A2E; }
#animalchanger.bear .shard-wrap:nth-child(22) .shard{
    -webkit-clip-path: polygon(45.15% 46.357%, 52.65% 62.643%, 42.68% 61.2%);
    background-color: #362F20; }
#animalchanger.bear .shard-wrap:nth-child(23) .shard{
    -webkit-clip-path: polygon(46.65% 58.643%, 53.25% 41.643%, 60.35% 41.643%);
    background-color: #504135; }
#animalchanger.bear .shard-wrap:nth-child(24) .shard{
    -webkit-clip-path: polygon(42.65% 60.929%, 52.65% 62.5%, 45.45% 74.071%);
    background-color: #302917; }
#animalchanger.bear .shard-wrap:nth-child(25) .shard{
    -webkit-clip-path: polygon(42.75% 60.929%, 48.05% 84.786%, 42.75% 84.786%);
    background-color: #3A322B; }
#animalchanger.bear .shard-wrap:nth-child(26) .shard{
    -webkit-clip-path: polygon(45.45% 73.786%, 52.55% 62.071%, 53.95% 66.5%);
    background-color: #29251B; }
#animalchanger.bear .shard-wrap:nth-child(27) .shard{
    -webkit-clip-path: polygon(52.45% 62.643%, 62.45% 48.214%, 60.65% 68.929%);
    background-color: #4C3E32; }
#animalchanger.bear .shard-wrap:nth-child(28) .shard{
    -webkit-clip-path: polygon(52.55% 62.5%, 60.75% 68.786%, 58.55% 79.929%);
    background-color: #342C27; }
#animalchanger.bear .shard-wrap:nth-child(29) .shard{
    -webkit-clip-path: polygon(60.65% 68.643%, 60.95% 86.5%, 56.65% 86.5%);
    background-color: #3A322E; }
#animalchanger.bear .shard-wrap:nth-child(30) .shard{
    -webkit-clip-path: polygon(28.25% 15.214%, 29.05% 14.071%, 29.55% 16.786%);
    background-color: #4C3E32; }
/*#animalchanger.bear  .shard-wrap:nth-child(31) .shard,
#animalchanger.bear  .shard-wrap:nth-child(32) .shard,
#animalchanger.bear  .shard-wrap:nth-child(33) .shard{
    -webkit-clip-path: polygon(31.25% 18.214%, 32.05% 17.071%, 30.8% 12.786%);
    background-color: #F1A9E2;  }
#animalchanger.bear  .shard-wrap:nth-child(31),#animalchanger.bear  .shard-wrap:nth-child(32),
#animalchanger.bear  .shard-wrap:nth-child(33) {z-index: 1;}
.animal-animations-on #animalchanger.bear .shard-wrap:nth-child(31) .shard,
.animal-animations-on #animalchanger.bear .shard-wrap:nth-child(32) .shard,
.animal-animations-on #animalchanger.bear .shard-wrap:nth-child(33) .shard{ -webkit-transition: 1s; z-index: 1;}*/
/*bear animation */
 /*鼻子*/
.animal-animations-on.state-two #animalchanger.bear .shard-wrap:nth-child(1) .shard{
  -webkit-clip-path: polygon(28.35% 14.214%, 31.45% 10.2%, 31.7% 18.5%);z-index: 4; }
.animal-animations-on.state-two #animalchanger.bear .shard-wrap:nth-child(30) .shard{
  -webkit-clip-path: polygon(28.25% 14.4%, 29.05% 13.3%, 29.3% 15.786%); z-index: 4;}
/*胳膊*/
.animal-animations-on.state-three #animalchanger.bear .shard-wrap:nth-child(15) .shard{
    -webkit-clip-path: polygon(48.5% 18.5%, 58.65% 18.03%, 60.45% 27.99%);
-webkit-transition:all 0.5s ease 0.03s;
    }
.animal-animations-on.state-three #animalchanger.bear .shard-wrap:nth-child(17) .shard{
    -webkit-clip-path: polygon(48.55% 18.5%, 60.45% 27.99%, 58.25% 41.929%);
    -webkit-transition:all 0.5s ease 0.03s;
    }
.animal-animations-on.state-three #animalchanger.bear .shard-wrap:nth-child(21) .shard{
    -webkit-clip-path: polygon(48.65% 18.643%, 58.25% 41.929%, 51.15% 41.929%);
    -webkit-transition:all 0.5s ease 0.03s;
    }
.animal-animations-on.state-three #animalchanger.bear .shard-wrap:nth-child(23) .shard{
    -webkit-clip-path: polygon(46.65% 55.643%, 51.25% 41.643%, 58.35% 41.643%);
    -webkit-transition:all 0.5s ease 0.03s;
    }
/*舌头*/
/*.animal-animations-on.state-two #animalchanger.bear .shard-wrap:nth-child(31) .shard{
  -webkit-clip-path: polygon(30.25% 21.214%, 32.05% 18.071%, 30.8% 15.786%);
  background-color: #F1A9E2; }
.animal-animations-on.state-two #animalchanger.bear .shard-wrap:nth-child(32) .shard{
  -webkit-clip-path: polygon(30.25% 21.214%, 31.7% 18.7%, 31.7% 32.786%);
  background-color: #D289D3; }
.animal-animations-on.state-two #animalchanger.bear .shard-wrap:nth-child(33) .shard{
  -webkit-clip-path: polygon(31.3% 30.214%, 33.7% 34.7%, 31.6% 32.786%);
  background-color: #CA6CA5; }*/



/*bear animation bearTwo*/

#animalchanger.bearTwo .shard-wrap:nth-child(1) .shard{
  -webkit-clip-path: polygon(49.2% 86.2%, 55.1% 78.3%, 70.2% 81.0%);      
  background-color: #4C3E32;
}
#animalchanger.bearTwo .shard-wrap:nth-child(2) .shard{
  -webkit-clip-path: polygon(32.0% 31.7%, 49.4% 26.3%, 48.8% 55.6%);        
  background-color: #BAA284;
}
#animalchanger.bearTwo .shard-wrap:nth-child(3) .shard{
  -webkit-clip-path: polygon(49.4% 26.3%, 69.7% 33.1%, 48.8% 55.6%);       
  background-color: #9E856B;
}

#animalchanger.bearTwo .shard-wrap:nth-child(4) .shard{
  -webkit-clip-path: polygon(29.9% 10.2%, 35.5% 6.3%, 32.2% 21.5%);       
  background-color: #564533;}
#animalchanger.bearTwo .shard-wrap:nth-child(5) .shard{
  -webkit-clip-path: polygon(35.5% 6.3%, 39.9% 13.8%, 32.2% 21.5%);        
  background-color: #2C2317;
}

#animalchanger.bearTwo .shard-wrap:nth-child(6) .shard{
  -webkit-clip-path: polygon(62.2% 11.9%, 67.2% 2.6%, 66.6% 11.6%);      
  background-color: #4C3E32;
}
#animalchanger.bearTwo .shard-wrap:nth-child(7) .shard{
  -webkit-clip-path: polygon(67.2% 2.6%, 74.3% 10.6%, 66.6% 11.6%);     
  background-color: #403429;
}

#animalchanger.bearTwo .shard-wrap:nth-child(8) .shard{
  -webkit-clip-path: polygon(66.6% 11.6%, 74.3% 10.6%, 71.2% 23.5%);       
  background-color: #2C2317;
}


#animalchanger.bearTwo .shard-wrap:nth-child(9) .shard{
  -webkit-clip-path: polygon(20.5% 49.5%, 35.3% 14.1%, 27.2% 58.2%);      
  background-color: #564533;
}
#animalchanger.bearTwo .shard-wrap:nth-child(10) .shard{
  -webkit-clip-path: polygon(35.2% 14.1%, 37.6% 23.5%, 32.0% 31.7%);       
  background-color: #4C3E32;
}
#animalchanger.bearTwo .shard-wrap:nth-child(11) .shard{
  -webkit-clip-path: polygon(35.2% 14.1%, 66.6% 11.6%, 37.6% 23.7%);     
  background-color: #4C3E32;
}

#animalchanger.bearTwo .shard-wrap:nth-child(12) .shard{
  -webkit-clip-path: polygon(37.6% 23.5%, 66.6% 11.6%, 60% 25%);       
  background-color: #4C3E32;
}
#animalchanger.bearTwo .shard-wrap:nth-child(13) .shard{
  -webkit-clip-path: polygon(32.0% 31.7%, 37.6% 23.5%, 55.3% 24.5%);       
  background-color: #403429;
}
#animalchanger.bearTwo .shard-wrap:nth-child(14) .shard{
  -webkit-clip-path: polygon(49.0% 26.3%, 61.1% 22.9%, 69.7% 33.1%);       
  background-color: #2C2317;
}
#animalchanger.bearTwo .shard-wrap:nth-child(15) .shard{
  -webkit-clip-path: polygon(32.0% 31.7%, 48.8% 55.6%, 27.0% 57.9%);      
  background-color: #4C3E32;
}
#animalchanger.bearTwo .shard-wrap:nth-child(16) .shard{
  -webkit-clip-path: polygon(48.8% 55.6%, 69.7% 33.1%, 82.5% 50.8%);       
  background-color: #4C3E32;
}
#animalchanger.bearTwo .shard-wrap:nth-child(17) .shard{
  -webkit-clip-path: polygon(61.1% 22.9%, 66.6% 11.6%, 82.2% 50.6%);       
  background-color: #4C3E32;
}
#animalchanger.bearTwo .shard-wrap:nth-child(18) .shard{
  -webkit-clip-path: polygon(66.6% 11.6%, 71.4% 23.2%, 69.7% 22.4%);     
  background-color: #4C3E32;
}

#animalchanger.bearTwo .shard-wrap:nth-child(19) .shard{
  -webkit-clip-path: polygon(20.7% 49.3%,  27.0% 57.9%, 29.7% 76.6%);      
  background-color: #403429;
}
#animalchanger.bearTwo .shard-wrap:nth-child(20) .shard{
  -webkit-clip-path: polygon(27.0% 57.9%, 34.7% 61.6%, 29.7% 76.6%);       
  background-color: #2C2317;
}
#animalchanger.bearTwo .shard-wrap:nth-child(21) .shard{
  -webkit-clip-path: polygon(29.7% 76.6%, 34.7% 61.6%, 43.2% 76.1%);       
  background-color: #2C2317;
}
#animalchanger.bearTwo .shard-wrap:nth-child(22) .shard{
  -webkit-clip-path: polygon(34.7% 61.6%, 49.2% 68.2%, 49.2% 86.2%);      
  background-color: #A37431;
}
#animalchanger.bearTwo .shard-wrap:nth-child(23) .shard{
  -webkit-clip-path: polygon(49.2% 68.2%, 70.7% 56.6%, 49.2% 86.2%);       
  background-color: #CB9A57;
}

#animalchanger.bearTwo .shard-wrap:nth-child(24) .shard{
  -webkit-clip-path: polygon(27.0% 57.9%, 49.2% 68.2%, 82.2% 50.6%);      
  background-color: #2C2317;
}

#animalchanger.bearTwo .shard-wrap:nth-child(25) .shard{
  -webkit-clip-path: polygon(55.1% 78.3%, 70.7% 56.6%, 70.2% 81.0%);       
  background-color: #2C2317;
}
#animalchanger.bearTwo .shard-wrap:nth-child(26) .shard{
  -webkit-clip-path: polygon(70.2% 81.0%, 70.7% 56.6%, 82.8% 82.8%);      
  background-color: #342A1F;
}
#animalchanger.bearTwo .shard-wrap:nth-child(27) .shard{
  -webkit-clip-path: polygon(70.7% 56.6%, 82.2% 50.6%, 78.2% 72.8%);      
  background-color: #2C2317;
}
#animalchanger.bearTwo .shard-wrap:nth-child(28) .shard{
  -webkit-clip-path: polygon(29.7% 76.6%, 43.2% 76.1%, 49.2% 86.2%);     
  background-color: #392E22;
}
#animalchanger.bearTwo .shard-wrap:nth-child(29) .shard{
  -webkit-clip-path: polygon(67.3% 12.571%, 67.6% 11.143%, 71.1% 92.714%);    
  display: none
}
#animalchanger.bearTwo .shard-wrap:nth-child(30) .shard{
   -webkit-clip-path: polygon(43.5% 37.6%, 55.4% 38.4%, 49.0% 46.7%);      
  background-color: #4C3E32;
}


/*bear animation bearTwo*/

.animal-animations-on.state-two #animalchanger.bearTwo .shard-wrap:nth-child(30) {
  -webkit-clip-path: polygon(43.5% 37.6%, 55.4% 38.4%, 49.0% 44.7%);       
  background-color: #2C2317;
}


/*scale*/
#animalchanger.bear .level-one {
  -webkit-transform: scale(1.5) translateY(-10%);
}

#animalchanger.bearTwo .level-one{
  -webkit-transform: translateY(-25%);
   } 


/*bear*/
#animalchanger.bear {background-image:url(http://mat1.gtimg.com/v/h5/we15/images/bg01.jpg); background-repeat:no-repeat;background-size:100% 100%;}
#animalchanger.bearTwo {background:#F17A7A;} 
#animalchanger.bearTwo .answerList{background: #BB3D3D; }
#animalchanger.bearTwo .answerList ul{ padding-top:80px }
#animalchanger.bearTwo .answerList:before{background-color: #D24F4F;}
#animalchanger.bearTwo .answerList:after{background-color: #BB3D3D;}
#animalchanger.bear .title .triangle:nth-child(1),
#animalchanger.bear .title .triangle:nth-child(3),
#animalchanger.bear .title .triangle:nth-child(4),
#animalchanger.bearTwo .title .triangle:nth-child(1),
#animalchanger.bearTwo .title .triangle:nth-child(3),
#animalchanger.bearTwo .title .triangle:nth-child(4)
{background-color: #FF9600;}
#animalchanger.bear .title .triangle:nth-child(2),#animalchanger.bearTwo .title .triangle:nth-child(2){background-color: #FDAD00;}
#animalchanger.bear .title .triangle:nth-child(5),#animalchanger.bearTwo .title .triangle:nth-child(5){background-color: #FEFDFD;}
#animalchanger.bear .title .triangle:nth-child(6),#animalchanger.bearTwo .title .triangle:nth-child(6){background-color: #FFE097;}
#animalchanger.bear .title .triangle:nth-child(7),#animalchanger.bearTwo .title .triangle:nth-child(7){background-color: #FFD800;}
