
 #animalchanger.boating .shard-wrap:nth-child(1) .shard{
    -webkit-clip-path: polygon(30.63% 3.59%,31.88%  3.44%,38.13%  69.06%);
    background-color: #A36D3F; }
#animalchanger.boating .shard-wrap:nth-child(2) .shard{
    -webkit-clip-path: polygon(31.88% 3.59%,38.13%  69.06%,41.56% 68.13%);
    background-color: #AD7447; }
#animalchanger.boating .shard-wrap:nth-child(3) .shard{
    -webkit-clip-path: polygon(47.50% 55.00%,52.50% 56.25%,49.22% 59.84%);
    background-color: #F5B343; }
#animalchanger.boating .shard-wrap:nth-child(4) .shard{
    -webkit-clip-path: polygon(7.03%  77.34%,74.63% 59.80%,36.25% 83.28%);
    background-color: #935D31; }
#animalchanger.boating .shard-wrap:nth-child(5) .shard{
    -webkit-clip-path: polygon(7.03%  77.34%,40.00% 83.75%,12.50% 84.06%);
    background-color: #A56B3D; }

#animalchanger.boating .shard-wrap:nth-child(6) .shard{
    -webkit-clip-path: polygon(91.56% 77.66%,97.19% 77.97%,84.53% 62.34%);
    background-color: #683D1B; }
#animalchanger.boating .shard-wrap:nth-child(7) .shard{
    -webkit-clip-path: polygon(4.22%  87.66%,10.78% 87.97%,48.13% 55.31%);
    background-color: #BE8558; }
#animalchanger.boating .shard-wrap:nth-child(8) .shard{
    -webkit-clip-path: polygon(37.66% 64.53%,52.50% 51.09%,54.84% 53.44%);
    background-color: #A66C3C; }

#animalchanger.boating .shard-wrap:nth-child(9) .shard{
    -webkit-clip-path: polygon(54.06% 51.72%,47.66% 55.00%,57.19% 57.34%);
    background-color: #E6A433; }

#animalchanger.boating .shard-wrap:nth-child(10) .shard{
    -webkit-clip-path: polygon(20.63% 5.31%,30.63%  4.38%,31.09%  7.66%);
    background-color: #E45956; }

#animalchanger.boating .shard-wrap:nth-child(11) .shard{
    -webkit-clip-path: polygon(22.41% 45.88%,32.81% 15.72%,48.08% 40.50%);
    background-color: #ffffff; }

#animalchanger.boating .shard-wrap:nth-child(12) .shard{
    -webkit-clip-path: polygon(53.91% 51.72%,57.66% 43.91%,57.34% 57.34%);
    background-color: #F6B342; }

#animalchanger.boating .shard-wrap:nth-child(13) .shard{
    -webkit-clip-path: polygon(57.81% 44.06%,57.34% 64.22%,62.19% 62.81%);
    background-color: #E6A433; }
#animalchanger.boating .shard-wrap:nth-child(14) .shard{
    -webkit-clip-path: polygon(73.13% 41.56%,62.19% 62.81%,57.66% 43.91%);
    background-color: #FFBF53; }

#animalchanger.boating .shard-wrap:nth-child(15) .shard{
    -webkit-clip-path: polygon(73.13% 41.56%,62.34% 62.66%,74.06% 60.31%);
    background-color: #F6B342; }
#animalchanger.boating .shard-wrap:nth-child(16) .shard{
    -webkit-clip-path: polygon(73.13% 41.88%,78.75% 51.41%,73.75% 54.53%);
    background-color: #F8B243; }


#animalchanger.boating .shard-wrap:nth-child(17) .shard{
    -webkit-clip-path: polygon(78.59% 51.56%,73.91% 54.38%,83.59% 58.75%);
    background-color: #E6A433; }

    #animalchanger.boating .shard-wrap:nth-child(18) .shard{
    -webkit-clip-path: polygon(86.09% 57.19%,83.75% 57.81%,86.09% 58.59%);
    background-color: #F6B443; }

#animalchanger.boating .shard-wrap:nth-child(19) .shard{
    -webkit-clip-path: polygon(60.63% 33.91%,62.81% 31.88%,61.88% 35.16%);
    background-color: #E6A434; }
#animalchanger.boating .shard-wrap:nth-child(20) .shard{
    -webkit-clip-path: polygon(62.81% 32.03%,60.16% 43.59%,68.13% 40.00%);
    background-color: #F4B953; }

#animalchanger.boating .shard-wrap:nth-child(21) .shard{
    -webkit-clip-path: polygon(62.81% 31.88%,70.00% 33.44%,67.70% 39.52%);
    background-color: #F7B443; }

#animalchanger.boating .shard-wrap:nth-child(22) .shard{
    -webkit-clip-path: polygon(70.00% 33.59%,66.56% 42.19%,70.94% 41.88%);
    background-color: #DFA037; }

#animalchanger.boating .shard-wrap:nth-child(23) .shard{
    -webkit-clip-path: polygon(68.75% 39.84%,60.55% 43.33%,70.31% 41.98%);
    background-color: #CF891A; }

#animalchanger.boating .shard-wrap:nth-child(24) .shard{
    -webkit-clip-path: polygon(35.16% 83.75%,81.81% 55.31%,84.06% 83.75%);
    background-color: #A56B3D; }
#animalchanger.boating .shard-wrap:nth-child(25) .shard{
    -webkit-clip-path: polygon(81.50% 55.34%,93.59% 60.47%,83.75% 83.59%);
    background-color: #7C502D;}
#animalchanger.boating .shard-wrap:nth-child(26) .shard{
    -webkit-clip-path: polygon(15.31% 83.91%,83.75% 83.91%,72.97% 97.34%);
    background-color: #0661A8; }

#animalchanger.boating .shard-wrap:nth-child(27) .shard{
    -webkit-clip-path: polygon(8.28%  32.97%,10.00% 32.50%,11.41% 33.44%,13.13% 32.97%,14.84% 34.22%,13.13% 33.44%,11.41% 34.22%,9.84%  33.13%);
    background-color: #FEFEFC;
  }
#animalchanger.boating .shard-wrap:nth-child(28) .shard{ 
    -webkit-clip-path: polygon(64.69% 11.56%,67.66% 11.88%,69.84% 14.22%,72.97% 13.28%,75.94% 14.84%,73.59% 12.81%,70.31% 12.81%,67.97% 11.09%);
    background-color: #FEFEFC; }
#animalchanger.boating .shard-wrap:nth-child(29) .shard,
#animalchanger.boating .shard-wrap:nth-child(30) .shard{
    -webkit-clip-path: polygon(15.31% 83.91%,83.75% 83.91%,72.97% 97.34%);
    background-color: #0661A8; visibility: hidden; }
    
/*boating animation */
.animal-animations-on.state-two #animalchanger.boating .shard-wrap:nth-child(10) .shard{
   -webkit-clip-path: polygon(15.63% 7.31%,30.93%  6.38%,31.39%  10.66%);
    background-color: #E45956; }
.animal-animations-on.state-two  #animalchanger.boating .shard-wrap:nth-child(11) .shard{
    -webkit-clip-path: polygon(22.41% 40.88%,32.81% 15.72%,48.08% 35.50%);
    background-color: #FFFFFF; }

.animal-animations-on.state-two #animalchanger.boating .shard-wrap:nth-child(28) .shard{
    -webkit-clip-path: polygon(8.28%  32.97%,10.00% 32.50%,11.41% 33.44%,13.13% 32.97%,14.84% 34.22%,13.13% 33.44%,11.41% 34.22%,9.84%  33.13%);
    background-color: #6497D0;
  }
.animal-animations-on.state-two #animalchanger.boating .shard-wrap:nth-child(27) .shard{
    -webkit-clip-path: polygon(18.44% 28.44%,20.16% 27.81%,22.03% 28.44%,23.13% 26.88%,25.00% 26.88%,23.13% 26.41%,21.56% 27.50%,20.16% 27.19%);
    background-color: #6497D0; }


/*boating animation boatingTwo*/


#animalchanger.boatingTwo .shard-wrap:nth-child(1) .shard{
  -webkit-clip-path: polygon(56.1% 15.6%, 59.5% 31.6%, 47.6% 48.4%);        
  background-color: #D29123;
}
#animalchanger.boatingTwo .shard-wrap:nth-child(2) .shard{
  -webkit-clip-path: polygon(61% 27.6%, 52.6% 57.3%, 47.6% 48.4%);        
  background-color: #845B1A;
}

#animalchanger.boatingTwo .shard-wrap:nth-child(3) .shard{
  -webkit-clip-path: polygon(56.1% 15.6%, 83% 20%, 59% 32.6%);       
  background-color: #FFBF52;
}

#animalchanger.boatingTwo .shard-wrap:nth-child(4) .shard{
  -webkit-clip-path: polygon(59% 32.6%, 83% 20%, 68% 33.8%);       
  background-color: #E8A026;
}
#animalchanger.boatingTwo .shard-wrap:nth-child(5) .shard{
  -webkit-clip-path: polygon(65% 7%, 83% 20%, 56.1% 15.6%);        
  background-color: #ECAB3B;
}

#animalchanger.boatingTwo .shard-wrap:nth-child(6) .shard{
  -webkit-clip-path: polygon(65% 7%, 80.2% 8.9%, 83% 20%);      
  background-color: #E0991F;
}
#animalchanger.boatingTwo .shard-wrap:nth-child(7) .shard{
  -webkit-clip-path: polygon(80.2% 8.9%, 88.4% 21.2%, 83% 20%);     
  background-color: #A76F17;
}

#animalchanger.boatingTwo .shard-wrap:nth-child(8) .shard{
  -webkit-clip-path: polygon(83% 20%, 88.4% 21.2%, 82.7% 28.8%);       
  background-color: #ECAB3B;
}


#animalchanger.boatingTwo .shard-wrap:nth-child(9) .shard{
  -webkit-clip-path: polygon(88.4% 21.2%, 89.6% 25.7%, 82.7% 28.8%);      
  background-color: #A76F17;
}
#animalchanger.boatingTwo .shard-wrap:nth-child(10) .shard{
  -webkit-clip-path: polygon(82.7% 28.8%, 89.5% 25.7%, 83.2% 62.4%);       
  background-color: #D29123;
}
#animalchanger.boatingTwo .shard-wrap:nth-child(11) .shard{
  -webkit-clip-path: polygon(89.5% 25.7%, 90% 53.2%, 83.2% 62.4%);     
  background-color: #845B1A;
}

#animalchanger.boatingTwo .shard-wrap:nth-child(12) .shard{
  -webkit-clip-path: polygon(83.2% 56.3%, 97.2% 85.2%, 82.6% 83.9%);       
  background-color: #D29123;
}
#animalchanger.boatingTwo .shard-wrap:nth-child(13) .shard{
  -webkit-clip-path: polygon(83.3% 56%, 87% 85.7%, 61.3% 95%);       
  background-color: #845B1A;
}
#animalchanger.boatingTwo .shard-wrap:nth-child(14) .shard{
  -webkit-clip-path: polygon(52.5% 57.5%, 66.3% 83%, 54.3% 87.7%);       
  background-color: #845B1A;
}
#animalchanger.boatingTwo .shard-wrap:nth-child(15) .shard{
  -webkit-clip-path: polygon(52.5% 57.5%, 56.3% 82.1%, 29.7% 73.8%);      
  background-color: #D29123;
}

#animalchanger.boatingTwo .shard-wrap:nth-child(16) .shard{
  -webkit-clip-path: polygon(83% 20%, 82.7% 32%, 67.8% 33.9%);       
  background-color: #DF9757;
}

#animalchanger.boatingTwo .shard-wrap:nth-child(17) .shard{
  -webkit-clip-path: polygon(82.7% 27.2%,  82.9% 37.2%, 72.3% 31.9%);      
  background-color: #E9AE79;
}

#animalchanger.boatingTwo .shard-wrap:nth-child(18) .shard{
  -webkit-clip-path: polygon(82.9% 42.2%, 83.1% 56%, 79% 60.7%);       
  background-color: #C37D3E;
}
#animalchanger.boatingTwo .shard-wrap:nth-child(19) .shard{
  -webkit-clip-path: polygon(59% 32.6%, 67.8% 34%, 72.5% 32%, 83.20% 37.1%, 82.8% 44.8%, 58.1% 44.8%, 57.6% 40%);      
  background-color: #CD894C;
}
#animalchanger.boatingTwo .shard-wrap:nth-child(20) .shard{
  -webkit-clip-path: polygon(58.1% 44.8%, 82.3% 44.8%, 79.6% 57.8%);       
  background-color: #E5A368;
}


#animalchanger.boatingTwo .shard-wrap:nth-child(21) .shard{
  -webkit-clip-path: polygon(57.6% 40%, 52.7% 57.4%, 62.2% 75.5%);      
  background-color: #D59C68;
}
#animalchanger.boatingTwo .shard-wrap:nth-child(22) .shard{
  -webkit-clip-path: polygon(59% 69.3%, 66.3% 82.9%, 80.8% 79.6%);       
  background-color: #C48954;
}


#animalchanger.boatingTwo .shard-wrap:nth-child(23) .shard{
  -webkit-clip-path: polygon(68.1% 73.9%, 71.6% 78.5%, 83.2% 56.1%);      
  background-color: #D69B66;
}
#animalchanger.boatingTwo .shard-wrap:nth-child(24) .shard{
  -webkit-clip-path: polygon(58.1% 44.8%, 80.9% 58.5%, 68.1% 73.8%,61.2% 70.2%);      
  background-color: #E9AE79;
}


#animalchanger.boatingTwo .shard-wrap:nth-child(25) .shard{
  -webkit-clip-path: polygon( 70% 35.8%, 72% 50.6%, 68.6% 44.3%);     
  background-color: #F0BD8F;
}
#animalchanger.boatingTwo .shard-wrap:nth-child(26) .shard{
  -webkit-clip-path: polygon(70% 35.8%, 68.6% 44.3%, 64.9% 47.8%);    
  background-color: #C56F55
}
#animalchanger.boatingTwo .shard-wrap:nth-child(27) .shard{
   -webkit-clip-path: polygon(68.6% 44.3%, 72% 50.6%, 64.9% 47.8%);      
  background-color: #AD6049;
}

#animalchanger.boatingTwo .shard-wrap:nth-child(28) .shard{
 -webkit-clip-path: polygon(65.7% 51.4%, 71.7% 53.3%, 72% 63.6%, 67.4% 64.6%, 62.2% 60.3%);      
  background-color: #E8E8E8; }

#animalchanger.boatingTwo .shard-wrap:nth-child(29) .shard{
    -webkit-clip-path: polygon(32.2% 11.2%, 34.5% 11.3%, 36.5% 8.3%, 35.3% 12.7%);
    background-color: #53538B; }
 
#animalchanger.boatingTwo  .shard-wrap:nth-child(30) .shard{
  -webkit-clip-path: polygon(5% 20%, 50% 80%, 5% 90%);
  background-size: 113px 88px; background-position: 10% 66%;
    background-image:url(http://mat1.gtimg.com/v/h5/we15/images/boat.png); background-repeat: no-repeat;}  



/* animation Two*/


/*scale*/

#animalchanger.boating .level-one {
  -webkit-transform: scale(0.5,0.6) translateY(-21%);
}

#animalchanger.boatingTwo .level-one{
  -webkit-transform: scale(.5) translateY(-25%);
   } 
@media only screen and (max-width: 700px) {

#animalchanger.boating .level-one {
  -webkit-transform: scale(1.0,1.6) translateY(-10%);
}

#animalchanger.boatingTwo .level-one{
  -webkit-transform: scale(1) translateY(-27%);
   } 

}

/*skin*/
#animalchanger.boating {background-image:url(http://mat1.gtimg.com/v/h5/we15/images/bg06.jpg); background-repeat:no-repeat;background-size:100% 100%;}
#animalchanger.boatingTwo {background:#74A6DE;} 
#animalchanger.boatingTwo .answerList{background: #0661A8; }
#animalchanger.boatingTwo .answerList ul{ padding-top:80px }
#animalchanger.boatingTwo .answerList:before{background-color: #0C7ACD;}
#animalchanger.boatingTwo .answerList:after{background-color: #0661A8;}
#animalchanger.boatingTwo .answerList li.current{}

#animalchanger.boating .title .triangle:nth-child(1),
#animalchanger.boating .title .triangle:nth-child(3),
#animalchanger.boating .title .triangle:nth-child(4),
#animalchanger.boatingTwo .title .triangle:nth-child(1),
#animalchanger.boatingTwo .title .triangle:nth-child(3),
#animalchanger.boatingTwo .title .triangle:nth-child(4)
{background-color: #E45856;}
#animalchanger.boating .title .triangle:nth-child(2),#animalchanger.boatingTwo .title .triangle:nth-child(2){background-color: #CC403E;}
#animalchanger.boating .title .triangle:nth-child(5),#animalchanger.boatingTwo .title .triangle:nth-child(5){background-color: #D74B49;}
#animalchanger.boating .title .triangle:nth-child(6),#animalchanger.boatingTwo .title .triangle:nth-child(6){background-color: #F49190;}
#animalchanger.boating .title .triangle:nth-child(7),#animalchanger.boatingTwo .title .triangle:nth-child(7){background-color: #F57472;}



