
 #animalchanger.chef .shard-wrap:nth-child(1) .shard{
    -webkit-clip-path: polygon(52.19%   7.34%,55.16%    12.19%,77.03%   9.53%);
    background-color: #F7FCFF; }
#animalchanger.chef .shard-wrap:nth-child(2) .shard{
    -webkit-clip-path: polygon(53.91%   22.66%,77.03%   9.53%,55.16%    12.19%);
    background-color: #FFFFFF; }
#animalchanger.chef .shard-wrap:nth-child(3) .shard{
    -webkit-clip-path: polygon(71.09%   23.28%,77.03%   9.53%,53.91%    22.66%);
    background-color: #F4FCFF; }
#animalchanger.chef .shard-wrap:nth-child(4) .shard{
    -webkit-clip-path: polygon(50.94%   24.06%,53.28%   24.38%,52.19%   27.19%);
    background-color: #F2C9B5; }
#animalchanger.chef .shard-wrap:nth-child(5) .shard{
    -webkit-clip-path: polygon(71.41%   25.47%,73.59%   24.69%,71.88%   28.44%);
    background-color: #F1CBB4; }

#animalchanger.chef .shard-wrap:nth-child(6) .shard{
    -webkit-clip-path: polygon(53.91%   22.66%,51.09%   31.25%,59.38%   33.28%);
    background-color: #F8DECF; }
#animalchanger.chef .shard-wrap:nth-child(7) .shard{
    -webkit-clip-path: polygon(59.38%   33.28%,71.09%   23.28%,53.91%   22.66%);
    background-color: #FFE8DA; }
#animalchanger.chef .shard-wrap:nth-child(8) .shard{
    -webkit-clip-path: polygon(59.38%   33.28%,71.09%   23.28%,72.19%   32.03%);
    background-color: #FFDECB; }

#animalchanger.chef .shard-wrap:nth-child(9) .shard{
    -webkit-clip-path: polygon(57.50%   29.22%,63.28%   29.38%,60.16%   30.47%);
    background-color: #7F4D32; }

#animalchanger.chef .shard-wrap:nth-child(10) .shard{
    -webkit-clip-path: polygon(55.31%   25.63%,55.16%   23.75%,60.00%   24.69%);
    background-color: #D19E83; }
#animalchanger.chef .shard-wrap:nth-child(11) .shard{
    -webkit-clip-path: polygon(66.41%   26.09%,67.97%   24.06%,55.31%   23.75%);
    background-color: #E7B499; }
#animalchanger.chef .shard-wrap:nth-child(12) .shard{
    -webkit-clip-path: polygon(17.66%   53.28%,41.72%   35.94%,51.72%   45.00%);
    background-color: #FFFFFF; }
#animalchanger.chef .shard-wrap:nth-child(13) .shard{
    -webkit-clip-path: polygon(45.00%   33.91%,51.09%   31.25%,59.38%   33.28%);
    background-color: #FFFFFF; }
#animalchanger.chef .shard-wrap:nth-child(14) .shard{
    -webkit-clip-path: polygon(45.16%   34.06%,75.94%   31.72%,59.53%   45.63%);
    background-color: #FAFAFA; }

#animalchanger.chef .shard-wrap:nth-child(15) .shard{
    -webkit-clip-path: polygon(79.38%   33.75%,92.03%   61.09%,70.94%   37.81%);
    background-color: #E1EEF4; }
#animalchanger.chef .shard-wrap:nth-child(16) .shard{
    -webkit-clip-path: polygon(41.72%   35.78%,45.00%   33.91%,44.22%   37.81%);
    background-color: #F67270; }

#animalchanger.chef .shard-wrap:nth-child(17) .shard{
    -webkit-clip-path: polygon(44.69%   33.91%,41.41%   59.69%,78.91%   60.94%);
    background-color: #FFA3A4; }
#animalchanger.chef .shard-wrap:nth-child(18) .shard{
    -webkit-clip-path: polygon(75.94%   31.72%,59.53%   45.63%,78.91%   61.09%);
    background-color: #F1797A; }

#animalchanger.chef .shard-wrap:nth-child(19) .shard{
    -webkit-clip-path: polygon(76.09%   31.72%,79.38%   33.59%,76.41%   34.84%);
    background-color: #DF5354; }

#animalchanger.chef .shard-wrap:nth-child(20) .shard{
    -webkit-clip-path: polygon(41.41%   59.69%,78.75%   60.94%,77.50%   80.31%);
    background-color: #F1797A; }

    #animalchanger.chef .shard-wrap:nth-child(21) .shard{
    -webkit-clip-path: polygon(44.38%   80.94%,41.56%   59.69%,77.50%   80.16%);
    background-color: #F68685; }

#animalchanger.chef .shard-wrap:nth-child(22) .shard{
    -webkit-clip-path: polygon(47.66%   81.25%,59.22%   80.63%,52.03%   91.09%);
    background-color: #FFFFFF; }
#animalchanger.chef .shard-wrap:nth-child(23) .shard{
    -webkit-clip-path: polygon(62.97%   80.63%,75.00%   80.16%,69.06%   91.09%);
    background-color: #FFFFFF; }

#animalchanger.chef .shard-wrap:nth-child(24) .shard{
    -webkit-clip-path: polygon(49.53%   91.56%,52.34%   88.75%,54.22%   91.56%);
    background-color: #5F4C3E; }

#animalchanger.chef .shard-wrap:nth-child(25) .shard{
    -webkit-clip-path: polygon(66.25%   91.56%,68.91%   88.91%,70.94%   91.56%);
    background-color: #5F4C3E; }

#animalchanger.chef .shard-wrap:nth-child(26) .shard,
#animalchanger.chef .shard-wrap:nth-child(27) .shard,
#animalchanger.chef .shard-wrap:nth-child(28) .shard,
#animalchanger.chef .shard-wrap:nth-child(29) .shard,
#animalchanger.chef .shard-wrap:nth-child(30) .shard
{
    -webkit-clip-path: polygon(66.25%   91.56%,68.91%   88.91%,70.94%   91.56%);
    background-color: #5F4C3E; visibility: hidden; }
 
/*chef animation */

.animal-animations-on.state-two #animalchanger.chef .shard-wrap:nth-child(9) .shard{
    -webkit-clip-path: polygon(57.50%   29.22%,63.28%   29.38%,60.16%   31.47%);
    background-color: #7F4D32; }

.animal-animations-on.state-two #animalchanger.chef .shard-wrap:nth-child(10) .shard{
    -webkit-clip-path: polygon(55.31%   26.63%,55.16%   23.75%,60.00%   24.69%);
    background-color: #D19E83; }
.animal-animations-on.state-two #animalchanger.chef .shard-wrap:nth-child(11) .shard{
    -webkit-clip-path: polygon(66.41%   27.09%,67.97%   24.06%,55.31%   23.75%);
    background-color: #E7B499; }
.animal-animations-on.state-four #animalchanger.chef .level-one {
  -webkit-transform: scale(1,1.6) translateY(-10%);
}

/*chef animation chefTwo*/


 #animalchanger.chefTwo .shard-wrap:nth-child(1) .shard{
    -webkit-clip-path: polygon(52.19%   7.34%,55.16%    12.19%,77.03%   9.53%);
    background-color: #F7FCFF; }
#animalchanger.chefTwo .shard-wrap:nth-child(2) .shard{
    -webkit-clip-path: polygon(53.91%   22.66%,77.03%   9.53%,55.16%    12.19%);
    background-color: #FFFFFF; }
#animalchanger.chefTwo .shard-wrap:nth-child(3) .shard{
    -webkit-clip-path: polygon(71.09%   23.28%,77.03%   9.53%,53.91%    22.66%);
    background-color: #F4FCFF; }
#animalchanger.chefTwo .shard-wrap:nth-child(4) .shard{
    -webkit-clip-path: polygon(50.94%   24.06%,53.28%   24.38%,52.19%   27.19%);
    background-color: #F2C9B5; }
#animalchanger.chefTwo .shard-wrap:nth-child(5) .shard{
    -webkit-clip-path: polygon(71.41%   25.47%,73.59%   24.69%,71.88%   28.44%);
    background-color: #F1CBB4; }

#animalchanger.chefTwo .shard-wrap:nth-child(6) .shard{
    -webkit-clip-path: polygon(53.91%   22.66%,51.09%   31.25%,59.38%   33.28%);
    background-color: #F8DECF; }
#animalchanger.chefTwo .shard-wrap:nth-child(7) .shard{
    -webkit-clip-path: polygon(59.38%   33.28%,71.09%   23.28%,53.91%   22.66%);
    background-color: #FFE8DA; }
#animalchanger.chefTwo .shard-wrap:nth-child(8) .shard{
    -webkit-clip-path: polygon(59.38%   33.28%,71.09%   23.28%,72.19%   32.03%);
    background-color: #FFDECB; }

#animalchanger.chefTwo .shard-wrap:nth-child(9) .shard{
    -webkit-clip-path: polygon(57.50%   29.22%,63.28%   29.38%,60.16%   30.47%);
    background-color: #7F4D32; }

#animalchanger.chefTwo .shard-wrap:nth-child(10) .shard{
    -webkit-clip-path: polygon(55.31%   25.63%,55.16%   23.75%,60.00%   24.69%);
    background-color: #D19E83; }
#animalchanger.chefTwo .shard-wrap:nth-child(11) .shard{
    -webkit-clip-path: polygon(66.41%   26.09%,67.97%   24.06%,55.31%   23.75%);
    background-color: #E7B499; }
#animalchanger.chefTwo .shard-wrap:nth-child(12) .shard{
    -webkit-clip-path: polygon(17.66%   53.28%,41.72%   35.94%,51.72%   45.00%);
    background-color: #FFFFFF; }
#animalchanger.chefTwo .shard-wrap:nth-child(13) .shard{
    -webkit-clip-path: polygon(45.00%   33.91%,51.09%   31.25%,59.38%   33.28%);
    background-color: #FFFFFF; }
#animalchanger.chefTwo .shard-wrap:nth-child(14) .shard{
    -webkit-clip-path: polygon(45.16%   34.06%,75.94%   31.72%,59.53%   45.63%);
    background-color: #FAFAFA; }

#animalchanger.chefTwo .shard-wrap:nth-child(15) .shard{
    -webkit-clip-path: polygon(79.38%   33.75%,92.03%   61.09%,70.94%   37.81%);
    background-color: #E1EEF4; }
#animalchanger.chefTwo .shard-wrap:nth-child(16) .shard{
    -webkit-clip-path: polygon(41.72%   35.78%,45.00%   33.91%,44.22%   37.81%);
    background-color: #F67270; }

#animalchanger.chefTwo .shard-wrap:nth-child(17) .shard{
    -webkit-clip-path: polygon(44.69%   33.91%,41.41%   59.69%,78.91%   60.94%);
    background-color: #FFA3A4; }
#animalchanger.chefTwo .shard-wrap:nth-child(18) .shard{
    -webkit-clip-path: polygon(75.94%   31.72%,59.53%   45.63%,78.91%   61.09%);
    background-color: #F1797A; }

#animalchanger.chefTwo .shard-wrap:nth-child(19) .shard{
    -webkit-clip-path: polygon(76.09%   31.72%,79.38%   33.59%,76.41%   34.84%);
    background-color: #DF5354; }

#animalchanger.chefTwo .shard-wrap:nth-child(20) .shard{ 
    -webkit-clip-path: polygon(60.00%  36.38%,53.28% 54.91%,23.28% 56.47%);
    background-color: #F4F4F4; }
#animalchanger.chefTwo .shard-wrap:nth-child(21) .shard{ 
    -webkit-clip-path: polygon(7.81% 37.28%,23.28% 56.47%,12.34% 50.89%);
    background-color: #F1FBFF; }
#animalchanger.chefTwo .shard-wrap:nth-child(22) .shard{ 
    -webkit-clip-path: polygon(7.81% 37.28%,23.28% 56.47%,60.00%  36.38%);
    background-color: #FFFFFF; }
#animalchanger.chefTwo .shard-wrap:nth-child(23) .shard{ 
    -webkit-clip-path: polygon(7.81%  37.45%,22.50% 24.33%,59.84% 36.36%);
    background-color: #F2FBFF; }
#animalchanger.chefTwo .shard-wrap:nth-child(24) .shard{ 
    -webkit-clip-path: polygon(22.50% 24.33%,48.59% 25.45%,60.00% 36.61%);
    background-color: #FFFFFF; }
#animalchanger.chefTwo .shard-wrap:nth-child(25) .shard{ 
    -webkit-clip-path: polygon(19.53% 44.87%,27.81% 44.87%,20.31% 37.95%);
    background-color: #FDEF7C; }
#animalchanger.chefTwo .shard-wrap:nth-child(26) .shard{ 
    -webkit-clip-path: polygon(14.06% 37.95%,19.22% 44.87%,20.47% 37.95%);
    background-color: #BACF68; }
#animalchanger.chefTwo .shard-wrap:nth-child(27) .shard{ 
    -webkit-clip-path: polygon(20.16% 40.63%,38.75% 31.70%,46.72% 36.16%);
    background-color: #A9C346; }
#animalchanger.chefTwo .shard-wrap:nth-child(28) .shard{ 
    -webkit-clip-path: polygon(43.75% 30.58%,42.97% 41.96%,49.69% 33.93%);
    background-color: #BCA25E; }

#animalchanger.chefTwo .shard-wrap:nth-child(29) .shard{ 
    -webkit-clip-path: polygon(52.81% 37.95%,43.13% 41.74%,49.69% 34.15%);
    background-color: #A9C346; }
#animalchanger.chefTwo .shard-wrap:nth-child(30) .shard{ 
    -webkit-clip-path: polygon(28.13% 49.11%,43.75% 48.66%,43.13% 42.19%);
    background-color: #CBBA8E; }



/* animation Two*/
.animal-animations-on.state-two #animalchanger.chefTwo .shard-wrap:nth-child(9) .shard{
    -webkit-clip-path: polygon(57.50%   29.22%,63.28%   29.38%,60.16%   31.47%);
    background-color: #7F4D32; }

.animal-animations-on.state-two #animalchanger.chefTwo .shard-wrap:nth-child(10) .shard{
    -webkit-clip-path: polygon(55.31%   26.63%,55.16%   23.75%,60.00%   24.69%);
    background-color: #D19E83; }
.animal-animations-on.state-two #animalchanger.chefTwo .shard-wrap:nth-child(11) .shard{
    -webkit-clip-path: polygon(66.41%   27.09%,67.97%   24.06%,55.31%   23.75%);
    background-color: #E7B499; }

/*scale*/

#animalchanger.chef .level-one {
  -webkit-transform: scale(0.5,0.6) translateY(-21%);
}

#animalchanger.chefTwo .level-one{
  -webkit-transform: scale(.5) translateY(-25%);
   } 
@media only screen and (max-width: 700px) {

#animalchanger.chef .level-one {
  -webkit-transform: scale(1.0,1.6) translateY(-10%);
}

#animalchanger.chefTwo .level-one{
  -webkit-transform: scale(1,1.5) translateY(-10%);
   } 

}

/*skin*/
#animalchanger.chef {background-image:url(http://mat1.gtimg.com/v/h5/we15/images/bg07.jpg); background-repeat:no-repeat;background-size:100% 100%;}
#animalchanger.chefTwo {background:#ADD8F3;} 
#animalchanger.chefTwo .answerList{background: #3294D3; }
#animalchanger.chefTwo .answerList ul{ padding-top:80px }
#animalchanger.chefTwo .answerList:before{background-color: #56ADE5;}
#animalchanger.chefTwo .answerList:after{background-color: #3294D3;}
#animalchanger.chefTwo .answerList li.current{}

#animalchanger.chef .title .triangle:nth-child(1),
#animalchanger.chef .title .triangle:nth-child(3),
#animalchanger.chef .title .triangle:nth-child(4),
#animalchanger.chefTwo .title .triangle:nth-child(1),
#animalchanger.chefTwo .title .triangle:nth-child(3),
#animalchanger.chefTwo .title .triangle:nth-child(4)
{background-color: #EB3636;}
#animalchanger.chef .title .triangle:nth-child(2),#animalchanger.chefTwo .title .triangle:nth-child(2){background-color: #FF5050;}
#animalchanger.chef .title .triangle:nth-child(5),#animalchanger.chefTwo .title .triangle:nth-child(5){background-color: #EC6A00;}
#animalchanger.chef .title .triangle:nth-child(6),#animalchanger.chefTwo .title .triangle:nth-child(6){background-color: #E20000;}
#animalchanger.chef .title .triangle:nth-child(7),#animalchanger.chefTwo .title .triangle:nth-child(7){background-color: #FFDE6B;}



