
#animalchanger.seed .shard-wrap:nth-child(1) .shard{
    -webkit-clip-path: polygon(21.56% 10.31%,27.34% 18.28%,24.53% 20.94%,20.78% 20.47%);
    background-color: #BEE6EF; }
#animalchanger.seed .shard-wrap:nth-child(2) .shard{
    -webkit-clip-path: polygon(29.38% 17.81%,32.03% 20.78%,30.63% 21.88%,29.22% 21.72%);
    background-color: #BEE6EF; }
#animalchanger.seed .shard-wrap:nth-child(3) .shard{
    -webkit-clip-path: polygon(22.97% 22.81%,26.56% 27.50%,24.69% 28.75%,22.66% 28.59%);
    background-color: #F6F6F6; }

#animalchanger.seed .shard-wrap:nth-child(4) .shard{
    -webkit-clip-path: polygon(32.97% 26.41%,40.31% 27.34%,28.13% 30.47%);
    background-color: #63951C; }
#animalchanger.seed .shard-wrap:nth-child(5) .shard{
    -webkit-clip-path: polygon(40.47% 27.50%,54.22% 37.97%,49.22% 42.66%);
    background-color: #85BD28; }
#animalchanger.seed .shard-wrap:nth-child(6) .shard{
    -webkit-clip-path: polygon(28.13% 30.63%,40.31% 27.19%,49.22% 42.50%);
    background-color: #97C831; }
#animalchanger.seed .shard-wrap:nth-child(7) .shard{
    -webkit-clip-path: polygon(27.97% 30.63%,23.28% 36.25%,23.91% 49.53%);
    background-color: #5B8A18; }
#animalchanger.seed .shard-wrap:nth-child(8) .shard{
    -webkit-clip-path: polygon(27.97% 30.63%,23.91% 49.69%,38.13% 69.06%);
    background-color: #63951C; }
#animalchanger.seed .shard-wrap:nth-child(9) .shard{
    -webkit-clip-path: polygon(23.91% 49.53%,27.34% 58.91%,38.13% 69.06%);
    background-color: #477209; }
#animalchanger.seed .shard-wrap:nth-child(10) .shard{
    -webkit-clip-path: polygon(27.97% 30.63%,38.13% 69.06%,62.34% 50.00%);
    background-color: #78B126; }
#animalchanger.seed .shard-wrap:nth-child(11) .shard{
    -webkit-clip-path: polygon(62.30% 50.06%,72.34% 71.09%,38.28% 69.06%);
    background-color: #63951C; }
#animalchanger.seed .shard-wrap:nth-child(12) .shard{
    -webkit-clip-path: polygon(38.28% 69.06%,72.19% 71.15%,52.81% 81.72%);
    background-color: #63951C; }
#animalchanger.seed .shard-wrap:nth-child(13) .shard{
    -webkit-clip-path: polygon(52.81% 81.72%,72.19% 71.25%,67.81% 76.88%);
    background-color: #63951C; }
#animalchanger.seed .shard-wrap:nth-child(14) .shard{
    -webkit-clip-path: polygon(62.30% 50.00%,71.56% 47.97%,72.19% 70.94%);
    background-color: #568712; }
#animalchanger.seed .shard-wrap:nth-child(15) .shard{
    -webkit-clip-path: polygon(71.56% 47.97%,76.56% 55.78%,72.19% 70.94%);
    background-color: #477209; }
#animalchanger.seed .shard-wrap:nth-child(16) .shard{
    -webkit-clip-path: polygon(61.25% 42.66%,71.81% 47.90%,62.34% 49.99%);
    background-color: #78B126; }
#animalchanger.seed .shard-wrap:nth-child(17) .shard{
    -webkit-clip-path: polygon(49.29% 42.61%,61.41% 42.66%,62.53% 50.00%);
    background-color: #6CA11F; }
#animalchanger.seed .shard-wrap:nth-child(18) .shard{
    -webkit-clip-path: polygon(54.38% 37.81%,49.53% 42.50%,61.25% 42.66%);
    background-color: #85BD28; }
#animalchanger.seed .shard-wrap:nth-child(19) .shard{
    -webkit-clip-path: polygon(51.09% 30.16%,58.75% 40.83%,51.09% 35.81%);
    background-color: #55870E; }
#animalchanger.seed .shard-wrap:nth-child(20) .shard{
    -webkit-clip-path: polygon(51.09% 30.00%,58.44% 31.41%,58.75% 40.87%);
    background-color: #63951C; }
#animalchanger.seed .shard-wrap:nth-child(21) .shard{
    -webkit-clip-path: polygon(53.75% 17.66%,51.09% 30.16%,58.44% 31.41%);
    background-color: #42670A; }
#animalchanger.seed .shard-wrap:nth-child(22) .shard{
    -webkit-clip-path: polygon(48.20% 20.80%,53.75% 17.66%,51.09% 29.53%);
    background-color: #85BD28; }
#animalchanger.seed .shard-wrap:nth-child(23) .shard{
    -webkit-clip-path: polygon(42.81% 12.19%,48.13% 20.78%,53.75% 17.50%);
    background-color: #63951C; }
#animalchanger.seed .shard-wrap:nth-child(24) .shard{
    -webkit-clip-path: polygon(42.66% 12.03%,50.63% 13.13%,53.75% 17.42%);
    background-color: #416609;}
#animalchanger.seed .shard-wrap:nth-child(25) .shard{
    -webkit-clip-path: polygon(35.47% 14.22%,42.81% 12.19%,47.97% 20.78%);
    background-color: #507A14; }

#animalchanger.seed .shard-wrap:nth-child(26) .shard{
    -webkit-clip-path: polygon(35.31% 14.20%,40.47% 16.90%,38.59% 27.20%,34.06% 20.94%);
    background-color: #477209;}
#animalchanger.seed .shard-wrap:nth-child(27) .shard{ 
    -webkit-clip-path: polygon(32.81% 35.63%,36.72% 44.53%,34.38% 47.66%);
    background-color: #F6F6F6; }

#animalchanger.seed .shard-wrap:nth-child(28) .shard{
    -webkit-clip-path: polygon(31.88%  46.41%,32.91% 35.94%,34.42% 47.66%);
    background-color: #BEE6EF; }
#animalchanger.seed .shard-wrap:nth-child(29) .shard{
    -webkit-clip-path: polygon(34.06% 20.94%,38.59% 27.2%,33.97% 26.51%);
    background-color: #477209; }

#animalchanger.seed .shard-wrap:nth-child(30) .shard{
    -webkit-clip-path: polygon(52.81%  81.88%,59.22% 79.69%,58.75% 88.59%,50.31% 88.13%);
    background-color: #2D4708; }
/*seed animation */
.animal-animations-on.state-two #animalchanger.seed .shard-wrap:nth-child(1) .shard{
    -webkit-clip-path: polygon(21.56% 10.31%,27.34% 18.28%,24.53% 20.94%,20.78% 20.47%);
    background-color: #F6F6F6; }
.animal-animations-on.state-two #animalchanger.seed .shard-wrap:nth-child(2) .shard{
    -webkit-clip-path: polygon(29.38% 17.81%,32.03% 20.78%,30.63% 21.88%,29.22% 21.72%);
    background-color: #F6F6F6; }
.animal-animations-on.state-two #animalchanger.seed .shard-wrap:nth-child(3) .shard{
    -webkit-clip-path: polygon(22.97% 22.81%,26.56% 27.50%,24.69% 28.75%,22.66% 28.59%);
    background-color: #BEE6EF; }

.animal-animations-on.state-two #animalchanger.seed .shard-wrap:nth-child(27) .shard{
  -webkit-clip-path: polygon(32.81% 37.63%,36.72% 46.53%,34.38% 49.66%);
  background-color: #F6F6F6;
   }

.animal-animations-on.state-two #animalchanger.seed .shard-wrap:nth-child(28) .shard{
  -webkit-clip-path: polygon(31.88%  48.41%,32.81% 37.94%,34.42% 49.66%);
  background-color: #BEE6EF;
   }

/*seed animation seedTwo*/
#animalchanger.seedTwo .shard-wrap:nth-child(1) .shard{
  -webkit-clip-path: polygon(12.97% 31.03%,33.75% 26.79%,38.13% 29.02%);        
  background-color: #608A1A;
}
#animalchanger.seedTwo .shard-wrap:nth-child(2) .shard{
  -webkit-clip-path: polygon(13.13% 30.80%,36.88% 18.75%,39.53% 25.45%);        
  background-color: #85BD28;
}

#animalchanger.seedTwo .shard-wrap:nth-child(3) .shard{
  -webkit-clip-path: polygon(14.06% 24.33%,36.88% 18.75%,13.13% 30.58%);       
  background-color: #ABD54F;
}

#animalchanger.seedTwo .shard-wrap:nth-child(4) .shard{
  -webkit-clip-path: polygon(31.56% 15.40%,36.88% 18.75%,14.06% 24.33%);       
  background-color: #C3D857;
}
#animalchanger.seedTwo .shard-wrap:nth-child(5) .shard{
  -webkit-clip-path: polygon(31.56% 15.40%,47.81% 20.31%,44.84% 23.44%);        
  background-color: #98AD2C;
}

#animalchanger.seedTwo .shard-wrap:nth-child(6) .shard{
  -webkit-clip-path: polygon(36.88% 18.75%,44.84% 23.21%,39.69% 25.45%);      
  background-color: #5D8B0E;
}
#animalchanger.seedTwo .shard-wrap:nth-child(7) .shard{
  -webkit-clip-path: polygon(48.59% 39.06%,44.84% 23.21%,39.53% 25.45%);     
  background-color: #9FC743;
}

#animalchanger.seedTwo .shard-wrap:nth-child(8) .shard{
  -webkit-clip-path: polygon(39.53% 25.45%,43.13% 31.47%,33.91% 26.79%);       
  background-color: #6B9623;
}


#animalchanger.seedTwo .shard-wrap:nth-child(9) .shard{
  -webkit-clip-path: polygon(44.84% 23.21%,47.81% 20.31%,48.59% 39.06%);      
  background-color: #ABD54F;
}
#animalchanger.seedTwo .shard-wrap:nth-child(10) .shard{
  -webkit-clip-path: polygon(45.78% 35.04%,48.59% 39.06%,45.47% 57.81%);       
  background-color: #C3D857;
}
#animalchanger.seedTwo .shard-wrap:nth-child(11) .shard{
  -webkit-clip-path: polygon(48.59% 39.06%,54.69% 32.81%,45.47% 57.81%);     
  background-color: #56810D;
}

#animalchanger.seedTwo .shard-wrap:nth-child(12) .shard{
  -webkit-clip-path: polygon(50.94% 43.30%,46.72% 80.13%,45.47% 57.81%);       
  background-color: #77A922;
}
#animalchanger.seedTwo .shard-wrap:nth-child(13) .shard{
  -webkit-clip-path: polygon(45.47% 57.81%,46.72% 80.13%,42.50% 80.80%);       
  background-color: #8EC335;
}
#animalchanger.seedTwo .shard-wrap:nth-child(14) .shard{
  -webkit-clip-path: polygon(56.25% 24.33%,62.66% 24.11%,48.59% 39.06%);       
  background-color: #ABD54F;
}
#animalchanger.seedTwo .shard-wrap:nth-child(15) .shard{
  -webkit-clip-path: polygon(62.66% 24.11%,66.56% 38.62%,54.69% 32.81%);      
  background-color: #77A922;
}
#animalchanger.seedTwo .shard-wrap:nth-child(16) .shard{
  -webkit-clip-path: polygon(54.69% 32.81%,66.56% 38.39%,53.28% 37.28%);       
  background-color: #6B9623;
}


#animalchanger.seedTwo .shard-wrap:nth-child(17) .shard{
  -webkit-clip-path: polygon(62.66% 24.11%,73.91% 22.99%,66.56% 38.39%);       
  background-color: #8EC335;
}
#animalchanger.seedTwo .shard-wrap:nth-child(18) .shard{
  -webkit-clip-path: polygon(73.91% 22.77%,85.00% 26.34%,66.56% 38.62%);     
  background-color: #77A922;
}

#animalchanger.seedTwo .shard-wrap:nth-child(19) .shard{
  -webkit-clip-path: polygon(85.00% 26.34%,82.50% 39.06%,66.56% 38.39%);      
  background-color: #8EC335;
}

#animalchanger.seedTwo .shard-wrap:nth-child(20) .shard{
  -webkit-clip-path: polygon(85.00% 26.34%,89.53% 35.04%,82.50% 39.06%);       
  background-color: #77A922;
}
#animalchanger.seedTwo .shard-wrap:nth-child(21) .shard{
  -webkit-clip-path: polygon(89.53% 35.04%,87.19% 39.06%,75.78% 42.63%);       
  background-color: #527811;
}
#animalchanger.seedTwo .shard-wrap:nth-child(22) .shard{
  -webkit-clip-path: polygon(53.28% 37.28%,82.50% 39.06%,75.78% 42.63%);      
  background-color: #608B18;
}



#animalchanger.seedTwo .shard-wrap:nth-child(23) .shard{
  -webkit-clip-path: polygon(48.28% 24.55%,52.50% 31.25%,48.59% 39.06%);       
  background-color: #C5AD31;
}


#animalchanger.seedTwo .shard-wrap:nth-child(24) .shard{
  -webkit-clip-path: polygon(48.28% 24.55%,56.25% 24.33%,52.50% 31.25%);      
  background-color: #E6CC43;
}
#animalchanger.seedTwo .shard-wrap:nth-child(25) .shard{
  -webkit-clip-path: polygon(57.97% 12.95%,48.28% 24.55%,56.25% 24.33%);       
  background-color: #C5AD31;
}


#animalchanger.seedTwo .shard-wrap:nth-child(26) .shard{
  -webkit-clip-path: polygon(54.06% 9.60%,57.97%  12.95%,48.28% 24.55%);      
  background-color: #E6CC43;
}
#animalchanger.seedTwo .shard-wrap:nth-child(27) .shard{
  -webkit-clip-path: polygon(47.03% 12.50%,54.06% 9.60%,48.28%  24.33%);      
  background-color: #EFD449;
}


#animalchanger.seedTwo .shard-wrap:nth-child(28) .shard{
  -webkit-clip-path: polygon(48.91% 12.05%,50.31% 13.39%,49.06% 14.73%);     
  background-color: #E6B149;
}
#animalchanger.seedTwo .shard-wrap:nth-child(29) .shard{
  -webkit-clip-path: polygon(51.25% 12.50%,48.91% 11.83%,50.31% 13.39%);    
  background-color: #DDA02B
}
#animalchanger.seedTwo .shard-wrap:nth-child(30) .shard{
   -webkit-clip-path: polygon(53.75%  12.28%,54.38% 11.16%,55.16% 12.72%);      
  background-color: #DDA02B;
}

/*bear animation bearTwo*/


/*scale*/

#animalchanger.seed .level-one {
  -webkit-transform: scale(0.5,0.6) translateY(-21%);
}

#animalchanger.seedTwo .level-one{
  -webkit-transform: scale(.5) translateY(-25%);
   } 
@media only screen and (max-width: 700px) {

#animalchanger.seed .level-one {
  -webkit-transform: scale(1.2,1.8) translateY(-10%);
}

#animalchanger.seedTwo .level-one{
  -webkit-transform: scale(1) translateY(-27%);
   } 

}

/*skin*/
#animalchanger.seed {background-image:url(http://mat1.gtimg.com/v/h5/we15/images/bg04.jpg); background-repeat:no-repeat;background-size:100% 100%;}
#animalchanger.seedTwo {background:#EFEFBC;} 
#animalchanger.seedTwo .answerList{background: #A4AB5E; }
#animalchanger.seedTwo .answerList ul{ padding-top:80px }
#animalchanger.seedTwo .answerList:before{background-color: #D4D47A;}
#animalchanger.seedTwo .answerList:after{background-color: #A4AB5E;}
#animalchanger.seedTwo .answerList li.current{ }

#animalchanger.seed .title .triangle:nth-child(1),
#animalchanger.seed .title .triangle:nth-child(3),
#animalchanger.seed .title .triangle:nth-child(4),
#animalchanger.seedTwo .title .triangle:nth-child(1),
#animalchanger.seedTwo .title .triangle:nth-child(3),
#animalchanger.seedTwo .title .triangle:nth-child(4)
{background-color: #987955;}
#animalchanger.seed .title .triangle:nth-child(2),#animalchanger.seedTwo .title .triangle:nth-child(2){background-color: #7F603F;}
#animalchanger.seed .title .triangle:nth-child(5),#animalchanger.seedTwo .title .triangle:nth-child(5){background-color: #64492C;}
#animalchanger.seed .title .triangle:nth-child(6),#animalchanger.seedTwo .title .triangle:nth-child(6){background-color: #B58957;}
#animalchanger.seed .title .triangle:nth-child(7),#animalchanger.seedTwo .title .triangle:nth-child(7){background-color: #A4AB5E;}



