
 #animalchanger.thunder .shard-wrap:nth-child(1) .shard{
    -webkit-clip-path: polygon(17.34% 6.41%,21.88%  16.72%,18.91% 20.31%);
    background-color: #F6F6F6; }
#animalchanger.thunder .shard-wrap:nth-child(2) .shard{
    -webkit-clip-path: polygon(16.41% 18.91%,17.34% 6.41%,18.91%  20.31%);
    background-color: #BEE6EF; }
#animalchanger.thunder .shard-wrap:nth-child(3) .shard{
    -webkit-clip-path: polygon(38.44% 10.78%,42.19% 16.25%,40.47% 18.13%);
    background-color: #F6F6F6; }
#animalchanger.thunder .shard-wrap:nth-child(4) .shard{
    -webkit-clip-path: polygon(37.97% 17.81%,38.44% 10.78%,40.47% 18.13%);
    background-color: #BEE6EF; }
#animalchanger.thunder .shard-wrap:nth-child(5) .shard{
    -webkit-clip-path: polygon(34.69% 40.94%,38.91% 51.25%,36.09% 54.69%);
    background-color: #F6F6F6; }
#animalchanger.thunder .shard-wrap:nth-child(6) .shard{
    -webkit-clip-path: polygon(33.59% 53.28%,34.69% 40.94%,36.09% 54.69%);
    background-color: #BEE6EF; }

#animalchanger.thunder .shard-wrap:nth-child(7) .shard{
    -webkit-clip-path: polygon(62.34% 49.53%,65.16% 53.44%,64.06% 54.84%);
    background-color: #F6F6F6; }

#animalchanger.thunder .shard-wrap:nth-child(8) .shard{
    -webkit-clip-path: polygon(62.19% 54.53%,62.34% 49.53%,64.06% 54.84%);
    background-color: #BEE6EF; }
#animalchanger.thunder .shard-wrap:nth-child(9) .shard{
    -webkit-clip-path: polygon(71.41% 17.66%,75.78% 27.97%,72.97% 31.41%);
    background-color: #F6F6F6; }
#animalchanger.thunder .shard-wrap:nth-child(10) .shard{
    -webkit-clip-path: polygon(70.47% 30.16%,71.41% 17.66%,72.97% 31.25%);
    background-color: #BEE6EF; }


#animalchanger.thunder .shard-wrap:nth-child(11) .shard{
    -webkit-clip-path: polygon(81.09% 7.19%,85.00%  12.66%,83.13% 14.53%);
    background-color: #F6F6F6; }
#animalchanger.thunder .shard-wrap:nth-child(12) .shard{
    -webkit-clip-path: polygon(80.63% 14.22%,81.09% 7.19%,83.13%  14.38%);
    background-color: #BEE6EF; }

#animalchanger.thunder .shard-wrap:nth-child(13) .shard{
    -webkit-clip-path: polygon(60.47% 5.94%,37.97%  35.63%,51.41% 31.41%);
    background-color: #FFE351; }
#animalchanger.thunder .shard-wrap:nth-child(14) .shard{
    -webkit-clip-path: polygon(60.47% 5.94%,42.19%  35.47%,48.91% 32.97%);
    background-color: #FEF260; }

#animalchanger.thunder .shard-wrap:nth-child(15) .shard{
    -webkit-clip-path: polygon(67.50% 32.03%,44.06% 64.22%,54.38% 35.94%);
    background-color: #FFE351; }

#animalchanger.thunder .shard-wrap:nth-child(16) .shard{
    -webkit-clip-path: polygon(63.59% 32.19%,44.06% 64.22%,56.09% 34.53%);
    background-color: #FEF260; }

    #animalchanger.thunder .shard-wrap:nth-child(17) .shard{
    -webkit-clip-path: polygon(37.97% 35.58%,51.56% 31.26%,54.38% 35.94%);
    background-color: #FFE552; }

#animalchanger.thunder .shard-wrap:nth-child(18) .shard{
    -webkit-clip-path: polygon(51.72% 31.72%,67.50% 32.13%,54.38% 36.00%);
    background-color: #FFE552; }
#animalchanger.thunder .shard-wrap:nth-child(19) .shard{
    -webkit-clip-path: polygon(43.20% 34.00%,48.91% 32.17%,56.94% 35.53%);
    background-color: #FEF260; }

#animalchanger.thunder .shard-wrap:nth-child(20) .shard{
    -webkit-clip-path: polygon(48.91% 32.17%,55.80% 35.53%,63.59% 33.24%);
    background-color: #FEF260; }


#animalchanger.thunder .shard-wrap:nth-child(21) .shard{
    -webkit-clip-path: polygon(55.16% 75.00%,65.00% 88.91%,37.34% 83.75%);
    background-color: #D96212; }
#animalchanger.thunder .shard-wrap:nth-child(22) .shard{
    -webkit-clip-path: polygon(48.59% 73.75%,55.16% 75.00%,37.34% 83.75%);
    background-color: #DD691C; }
#animalchanger.thunder .shard-wrap:nth-child(23) .shard{
    -webkit-clip-path: polygon(53.59% 71.25%,55.16% 75.16%,48.59% 73.91%);
    background-color: #C75000;}
#animalchanger.thunder .shard-wrap:nth-child(24) .shard{
    -webkit-clip-path: polygon(59.38% 73.75%,55.16% 75.16%,53.59% 71.25%);
    background-color: #FAA241; }

#animalchanger.thunder .shard-wrap:nth-child(25) .shard{
    -webkit-clip-path: polygon(44.06% 81.41%,49.22% 77.03%,57.50% 84.06%);
    background-color: #E47C25;
  }
#animalchanger.thunder .shard-wrap:nth-child(26) .shard{
    -webkit-clip-path: polygon(54.38% 77.81%,49.38% 77.19%,57.50% 84.06%);
    background-color: #E48332; }
#animalchanger.thunder .shard-wrap:nth-child(27) .shard{ 
    -webkit-clip-path: polygon(65.00% 88.91%,59.38% 73.75%,72.03% 83.75%);
    background-color: #FB8B3F; }
    #animalchanger.thunder .shard-wrap:nth-child(28) .shard{
    -webkit-clip-path: polygon(65.00% 88.91%,55.16% 75.16%,59.38% 73.75%);
    background-color: #F58436; }
#animalchanger.thunder .shard-wrap:nth-child(29) .shard{
    -webkit-clip-path: polygon(59.06% 77.19%,61.09% 76.41%,64.69% 83.91%);
    background-color: #F59A51; }
#animalchanger.thunder .shard-wrap:nth-child(30) .shard{
    -webkit-clip-path: polygon(61.09% 76.41%,64.69% 83.91%,67.50% 82.19%);
    background-color: #F9AA67; }
    
/*thunder animation */
.animal-animations-on.state-two #animalchanger.thunder .shard-wrap:nth-child(1) .shard{
    -webkit-clip-path: polygon(17.34% 10.41%,21.88%  20.72%,18.91% 24.31%);
    background-color: #BEE6EF; }
.animal-animations-on.state-two #animalchanger.thunder .shard-wrap:nth-child(2) .shard{
    -webkit-clip-path: polygon(16.41% 22.91%,17.34% 10.41%,18.91%  24.31%);
    background-color: #F6F6F6; }
.animal-animations-on.state-two #animalchanger.thunder .shard-wrap:nth-child(3) .shard{
    -webkit-clip-path: polygon(38.44% 14.78%,42.19% 20.25%,40.47% 22.13%);
    background-color: #BEE6EF; }
.animal-animations-on.state-two #animalchanger.thunder .shard-wrap:nth-child(4) .shard{
    -webkit-clip-path: polygon(37.97% 21.81%,38.44% 14.78%,40.47% 22.13%);
    background-color: #F6F6F6; }

.animal-animations-on.state-two #animalchanger.thunder .shard-wrap:nth-child(5) .shard{
    -webkit-clip-path: polygon(34.69% 44.94%,38.91% 55.25%,36.09% 58.69%);
    background-color: #BEE6EF; }
.animal-animations-on.state-two #animalchanger.thunder .shard-wrap:nth-child(6) .shard{
    -webkit-clip-path: polygon(33.59% 57.28%,34.69% 44.94%,36.09% 58.69%);
    background-color: #F6F6F6; }
.animal-animations-on.state-two #animalchanger.thunder .shard-wrap:nth-child(7) .shard{
    -webkit-clip-path: polygon(62.34% 53.53%,65.16% 57.44%,64.06% 58.84%);
    background-color: #BEE6EF; }
.animal-animations-on.state-two #animalchanger.thunder .shard-wrap:nth-child(8) .shard{
    -webkit-clip-path: polygon(62.19% 58.53%,62.34% 53.53%,64.06% 58.84%);
    background-color: #F6F6F6; }
.animal-animations-on.state-two #animalchanger.thunder .shard-wrap:nth-child(9) .shard{
    -webkit-clip-path: polygon(71.41% 21.66%,75.78% 31.97%,72.97% 35.41%);
    background-color: #BEE6EF; }
.animal-animations-on.state-two #animalchanger.thunder .shard-wrap:nth-child(10) .shard{
    -webkit-clip-path: polygon(70.47% 34.16%,71.41% 21.66%,72.97% 35.25%);
    background-color: #F6F6F6; }


.animal-animations-on.state-two #animalchanger.thunder .shard-wrap:nth-child(11) .shard{
    -webkit-clip-path: polygon(81.09% 11.19%,85.00%  16.66%,83.13% 18.53%);
    background-color: #BEE6EF; }
.animal-animations-on.state-two #animalchanger.thunder .shard-wrap:nth-child(12) .shard{
    -webkit-clip-path: polygon(80.63% 18.22%,81.09% 11.19%,83.13%  18.38%);
    background-color: #F6F6F6; }


.animal-animations-on.state-three #animalchanger.thunder .shard-wrap:nth-child(13) .shard{
    -webkit-clip-path: polygon(60.47% 10.94%,39.97%  35.63%,51.41% 31.41%);
    background-color: #fce87e; }

.animal-animations-on.state-three #animalchanger.thunder .shard-wrap:nth-child(14) .shard{
    -webkit-clip-path: polygon(60.47% 10.94%,42.19%  35.47%,48.91% 32.97%);
    background-color: #fcf499; }

.animal-animations-on.state-three #animalchanger.thunder .shard-wrap:nth-child(15) .shard{
    -webkit-clip-path: polygon(65.50% 32.03%,44.06% 68.22%,54.38% 35.94%);
    background-color: #fce87e; }

.animal-animations-on.state-three #animalchanger.thunder .shard-wrap:nth-child(16) .shard{
    -webkit-clip-path: polygon(63.59% 32.19%,44.06% 68.22%,56.09% 34.53%);
    background-color: #fcf499; }

.animal-animations-on.state-three #animalchanger.thunder .shard-wrap:nth-child(17) .shard{
    -webkit-clip-path: polygon(39.97% 35.58%,51.56% 31.26%,54.38% 35.94%);
    background-color: #FFE552; }

.animal-animations-on.state-three #animalchanger.thunder .shard-wrap:nth-child(18) .shard{
    -webkit-clip-path: polygon(51.72% 31.72%,65.50% 32.13%,54.38% 36.00%);
    background-color: #FFE552; }
.animal-animations-on.state-three #animalchanger.thunder .shard-wrap:nth-child(19) .shard{
    -webkit-clip-path: polygon(43.20% 34.00%,48.91% 32.17%,56.94% 35.53%);
    background-color: #fcf499; }



/*.animal-animations-on.state-two #animalchanger.thunder .shard-wrap:nth-child(17) .shard{ -webkit-transition:all .4s;z-index: 1;}*/
/*.animal-animations-on.state-two #animalchanger.thunder .shard-wrap:nth-child(18) .shard{ -webkit-transition:all .4s; z-index: 1;}*/


/*thunder animation thunderTwo*/

#animalchanger.thunderTwo .shard-wrap:nth-child(1) .shard{
  -webkit-clip-path: polygon(53.28% 51.79%,75.63% 81.47%,9.22%  68.75%);        
  background-color: #D96212;
}
#animalchanger.thunderTwo .shard-wrap:nth-child(2) .shard{
  -webkit-clip-path: polygon(36.09% 43.53%,47.19% 54.24%,9.22%  68.75%);        
  background-color: #DD691C;
}

#animalchanger.thunderTwo .shard-wrap:nth-child(3) .shard{
  -webkit-clip-path: polygon(32.03% 15.85%,38.44% 22.54%,34.22% 46.21%);       
  background-color: #5D3E2C;
  
}

#animalchanger.thunderTwo .shard-wrap:nth-child(4) .shard{
  -webkit-clip-path: polygon(37.81% 49.55%,55.78% 75.45%,24.38% 56.03%);       
  background-color: #E47C25;
}
#animalchanger.thunderTwo .shard-wrap:nth-child(5) .shard{
  -webkit-clip-path: polygon(48.91% 55.36%,37.66% 62.50%,60.16% 64.29%);        
  background-color: #E58433;
}

#animalchanger.thunderTwo .shard-wrap:nth-child(6) .shard{
  -webkit-clip-path: polygon(54.06% 47.10%,77.19% 81.47%,93.28% 68.97%);      
  background-color: #FB8B3F;
}
#animalchanger.thunderTwo .shard-wrap:nth-child(7) .shard{
  -webkit-clip-path: polygon(63.59% 43.75%,68.44% 58.26%,93.28% 68.97%);     
  background-color: #F58436;
}

#animalchanger.thunderTwo .shard-wrap:nth-child(8) .shard{
  -webkit-clip-path: polygon(76.88% 48.21%,88.13% 52.46%,68.28% 52.23%);       
  background-color: #F9A340;
}


#animalchanger.thunderTwo .shard-wrap:nth-child(9) .shard{
  -webkit-clip-path: polygon(67.97% 50.22%,76.88% 68.97%,82.66% 64.73%);      
  background-color: #F9AA68;
}
#animalchanger.thunderTwo .shard-wrap:nth-child(10) .shard{
  -webkit-clip-path: polygon(70.78% 54.91%,66.09% 57.81%,78.91% 73.66%);       
  background-color: #F59B4F;
}
#animalchanger.thunderTwo .shard-wrap:nth-child(11) .shard{
  -webkit-clip-path: polygon(4.38%  30.58%,26.41% 28.13%,11.25% 32.37%);     
  background-color: #B89581;
}

#animalchanger.thunderTwo .shard-wrap:nth-child(12) .shard{
  -webkit-clip-path: polygon(30.63% 27.01%,11.25% 32.59%,29.53% 33.48%);       
  background-color: #775D4E;
}
#animalchanger.thunderTwo .shard-wrap:nth-child(13) .shard{
 -webkit-clip-path: polygon(30.47% 40.40%,21.72% 49.11%,43.13% 47.54%);       
  background-color: #C75000;
}
#animalchanger.thunderTwo .shard-wrap:nth-child(14) .shard{
  -webkit-clip-path: polygon(32.03% 15.85%,34.53% 18.53%,29.53% 33.48%);       
  background-color: #5D3E2C;
}
#animalchanger.thunderTwo .shard-wrap:nth-child(15) .shard{
  -webkit-clip-path: polygon(34.06% 19.87%,37.97% 25.45%,29.53% 33.71%);      
  background-color: #977F73;
}
#animalchanger.thunderTwo .shard-wrap:nth-child(16) .shard{
  -webkit-clip-path: polygon(35.00% 42.63%,37.97% 44.42%,37.97% 25.45%);       
  background-color: #775D4E;
}


#animalchanger.thunderTwo .shard-wrap:nth-child(17) .shard{
  -webkit-clip-path: polygon(36.25% 16.96%,56.25% 31.03%,35.63% 29.24%);       
  background-color: #775D4E;
}
#animalchanger.thunderTwo .shard-wrap:nth-child(18) .shard{
  -webkit-clip-path: polygon(38.13% 28.79%,56.25% 31.03%,60.31% 35.71%);     
  background-color: #B99680;
}

#animalchanger.thunderTwo .shard-wrap:nth-child(19) .shard{
  -webkit-clip-path: polygon(58.44% 33.26%,67.19% 28.35%,60.31% 35.71%);      
  background-color: #5D3E2C;
}

#animalchanger.thunderTwo .shard-wrap:nth-child(20) .shard{
  -webkit-clip-path: polygon(67.19% 28.35%,70.00% 30.13%,60.31% 35.71%);       
  background-color: #795E4D;
}
#animalchanger.thunderTwo .shard-wrap:nth-child(21) .shard{
    -webkit-clip-path: polygon(17.97% 3.57%,22.34%  18.53%,19.53% 23.21%);
    background-color: #F6F6F6; }
#animalchanger.thunderTwo .shard-wrap:nth-child(22) .shard{
    -webkit-clip-path: polygon(17.03% 21.43%,17.97% 3.57%,19.53%  23.21%);
    background-color: #BEE6EF; }
#animalchanger.thunderTwo .shard-wrap:nth-child(23) .shard{
    -webkit-clip-path: polygon(25.78% 30.58%,25.47% 40.85%,27.97% 40.85%);
    background-color: #F6F6F6; }
#animalchanger.thunderTwo .shard-wrap:nth-child(24) .shard{
    -webkit-clip-path: polygon(29.53% 38.39%,25.78% 30.80%,27.97% 40.85%);
    background-color: #BEE6EF; }
#animalchanger.thunderTwo .shard-wrap:nth-child(25) .shard{
    -webkit-clip-path: polygon(39.06% 7.59%,42.97%  15.63%,41.09% 18.08%);
    background-color: #F6F6F6; }

#animalchanger.thunderTwo .shard-wrap:nth-child(26) .shard{
    -webkit-clip-path: polygon(38.59% 17.63%,39.06% 8.04%,41.09%  18.08%);
    background-color: #BEE6EF; }
#animalchanger.thunderTwo .shard-wrap:nth-child(27) .shard{
    -webkit-clip-path: polygon(52.19% 9.82%,58.91%  23.44%,55.47% 27.90%);
    background-color: #F6F6F6; }
#animalchanger.thunderTwo .shard-wrap:nth-child(28) .shard{
    -webkit-clip-path: polygon(51.41% 27.46%,52.19% 9.82%,55.47%  27.90%);
    background-color: #BEE6EF; }

#animalchanger.thunderTwo .shard-wrap:nth-child(29) .shard{
    -webkit-clip-path: polygon(43.28% 34.38%,42.50% 52.23%,45.00% 54.02%);
    background-color: #F6F6F6; }

#animalchanger.thunderTwo .shard-wrap:nth-child(30) .shard{
    -webkit-clip-path: polygon(47.81% 49.11%,43.44% 34.60%,45.00% 54.02%);
    background-color: #BEE6EF; }

/* animation Two*/
.animal-animations-on.state-two #animalchanger.thunderTwo .shard-wrap:nth-child(21) .shard{
    -webkit-clip-path: polygon(17.97% 7.57%,22.34%  22.53%,19.53% 27.21%);
    background-color: #F6F6F6; }
.animal-animations-on.state-two #animalchanger.thunderTwo .shard-wrap:nth-child(22) .shard{
    -webkit-clip-path: polygon(17.03% 25.43%,17.97% 7.57%,19.53%  27.21%);
    background-color: #BEE6EF; }
.animal-animations-on.state-two #animalchanger.thunderTwo .shard-wrap:nth-child(23) .shard{
    -webkit-clip-path: polygon(25.78% 34.58%,25.47% 44.85%,27.97% 44.85%);
    background-color: #F6F6F6; }
.animal-animations-on.state-two #animalchanger.thunderTwo .shard-wrap:nth-child(24) .shard{
    -webkit-clip-path: polygon(29.53% 42.39%,25.78% 34.80%,27.97% 44.85%);
    background-color: #BEE6EF; }
.animal-animations-on.state-two #animalchanger.thunderTwo .shard-wrap:nth-child(25) .shard{
    -webkit-clip-path: polygon(39.06% 11.59%,42.97%  19.63%,41.09% 22.08%);
    background-color: #F6F6F6; }

.animal-animations-on.state-two #animalchanger.thunderTwo .shard-wrap:nth-child(26) .shard{
    -webkit-clip-path: polygon(38.59% 21.63%,39.06% 12.04%,41.09%  22.08%);
    background-color: #BEE6EF; }
.animal-animations-on.state-two #animalchanger.thunderTwo .shard-wrap:nth-child(27) .shard{
    -webkit-clip-path: polygon(52.19% 13.82%,58.91%  27.44%,55.47% 31.90%);
    background-color: #F6F6F6; }
.animal-animations-on.state-two #animalchanger.thunderTwo .shard-wrap:nth-child(28) .shard{
    -webkit-clip-path: polygon(51.41% 31.46%,52.19% 13.82%,55.47%  31.90%);
    background-color: #BEE6EF; }

.animal-animations-on.state-two #animalchanger.thunderTwo .shard-wrap:nth-child(29) .shard{
    -webkit-clip-path: polygon(43.28% 38.38%,42.50% 56.23%,45.00% 58.02%);
    background-color: #F6F6F6; }

.animal-animations-on.state-two #animalchanger.thunderTwo .shard-wrap:nth-child(30) .shard{
    -webkit-clip-path: polygon(47.81% 53.11%,43.44% 38.60%,45.00% 58.02%);
    background-color: #BEE6EF; }


/*scale*/

#animalchanger.thunder .level-one {
  -webkit-transform: scale(0.5,0.6) translateY(-21%);
}

#animalchanger.thunderTwo .level-one{
  -webkit-transform: scale(.5) translateY(-25%);
   } 
@media only screen and (max-width: 700px) {

#animalchanger.thunder .level-one {
  -webkit-transform: scale(1.2,1.8) translateY(-10%);
}

#animalchanger.thunderTwo .level-one{
  -webkit-transform: scale(1) translateY(-27%);
   } 

}

/*skin*/
#animalchanger.thunder {background-image:url(http://mat1.gtimg.com/v/h5/we15/images/bg05.jpg); background-repeat:no-repeat;background-size:100% 100%;}
#animalchanger.thunderTwo {background:#224A74;} 
#animalchanger.thunderTwo .answerList{background: #002E53; }
#animalchanger.thunderTwo .answerList ul{ padding-top:80px }
#animalchanger.thunderTwo .answerList:before{background-color: #1C375E;}
#animalchanger.thunderTwo .answerList:after{background-color: #002E53;}
#animalchanger.thunderTwo .answerList li.current{}

#animalchanger.thunder .title .triangle:nth-child(1),
#animalchanger.thunder .title .triangle:nth-child(3),
#animalchanger.thunder .title .triangle:nth-child(4),
#animalchanger.thunderTwo .title .triangle:nth-child(1),
#animalchanger.thunderTwo .title .triangle:nth-child(3),
#animalchanger.thunderTwo .title .triangle:nth-child(4)
{background-color: #73AAE3;}
#animalchanger.thunder .title .triangle:nth-child(2),#animalchanger.thunderTwo .title .triangle:nth-child(2){background-color: #3574B5;}
#animalchanger.thunder .title .triangle:nth-child(5),#animalchanger.thunderTwo .title .triangle:nth-child(5){background-color: #528ECD;}
#animalchanger.thunder .title .triangle:nth-child(6),#animalchanger.thunderTwo .title .triangle:nth-child(6){background-color: #5A86C6;}
#animalchanger.thunder .title .triangle:nth-child(7),#animalchanger.thunderTwo .title .triangle:nth-child(7){background-color: #BEE6EF;}



